<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appyfurious.afbilling">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application>

        <!-- Needed for Smaato -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <!-- MoPub Activities -->

        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <!-- Smaato Activities -->

        <activity
            android:name="com.smaato.soma.interstitial.InterstitialActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smaato.soma.video.VASTAdActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.smaato.soma.ExpandedBannerActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />

    </application>


</manifest>
